<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Chatbot</title>
    </head>
    <body>
        <h1>Chatbot in PyTorch</h1>
        <p>Simple chatbot implementation with PyTorch</p>
        <form action="/" method="post">
            <input type="text" name="que" placeholder="How may I help you?">
        </form>

        {% if pred %}
            <p>Bot: {{pred}}</p>
        {% endif %}

    </body>
</html>